.review{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .content{
        flex: 1 1 42rem;
    }

    .box-container{
        flex: 1 1 42rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        .box{
            flex: 1 1 20rem;
            border-radius: 1rem;
            padding: 2rem;
            background: $bg-color;
        }
    }

}