@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: $fonts-fam;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;

    &::-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background: $black;
    }

    &::-webkit-scrollbar-thumb{
        background: $blue;
    }

}

section{
    padding: 3rem 9%;
}

body{
    background: $black;
    overflow-x: hidden;
}

@media(max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding: 3rem 2rem;
    }

}

@media(max-width:450px){

    html{
        font-size: 50%;
    }

}